<nav class="navbar navbar-expand-lg mt-4 pb-0">
  <div class="container-fluid d-flex justify-content-center align-items-center"
    style="overflow: hidden;">
    <div class="navbar-brand mx-auto text-center pb-0">
      <img src="/logo_sos.png" alt="Logo de la Empresa" class="img img-fluid"
        style="height: 48px; object-fit: contain;filter:contrast(0.5);">
      <h5 class="mt-3" style="letter-spacing: 2px;font-size: 14px;" [style.display]="visible ? '' : 'none'">
        Especialistas en alisados y salud capilar
      </h5>
      <style>
        @media (max-width: 576px) {
          h5[style] {
            letter-spacing: normal !important;
          }
        }
      </style>
    </div>
  </div>
</nav>
