.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  justify-self: center;
}

button {
  cursor: pointer;
}

button mat-icon {
  margin: 0;
}

.calendar {
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
}

.days {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  background-color: #fff;
  color: #678898;
  border-radius: 5px;
  gap: 10px;
}

.day {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 68px;
  height: 68px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.current-day {
  background-color:#807e7e;
  color: #fff;
}

.selected-day {
  margin: 0;
  background-color: #545454;
  color: #fff;
  border: 1px solid #000000ab;
  border-radius: 5px;
}

.icon-3x {
  transform: scale(2);
  color: #545454;
}


.mdc-button{
  min-width:50px;
}
