<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="calendar">
      <div class="header">
        <button mat-button color="primary" (click)="prevMonth()"><mat-icon
            class="icon-3x">arrow_left</mat-icon></button>
        <h4 class="text-muted mb-0">
          {{ currentMonthYear }}
        </h4>
        <button mat-button color="primary" (click)="nextMonth()"><mat-icon
            class="icon-3x">arrow_right</mat-icon></button>
      </div>
      <div class="scroll-container my-2">
        <button mat-button color="primary" (click)="prevDays()" style="align-self:center;" class="p-0"><mat-icon class="icon-3x">arrow_left</mat-icon></button>
        <div class="days">
          <div (click)="selectDay(i)" *ngFor="let day of visibleDays; let i = index"
            class="day {{isCurrentDay(i) ? 'current-day' : ''}} {{isDaySelected(i) ? 'selected-day' : ''}} ">
            <span [attr.id]="'day_' + i" style="font-size: 21px;">{{ day.number }}</span>
            <span>{{ day.dayOfWeek }}</span>
          </div>
        </div>
        <button mat-button color="primary" (click)="nextDays()" style="align-self:center;" class="p-0"><mat-icon class="icon-3x">arrow_right</mat-icon></button>
      </div>
      <!-- <div class="footer w-50 justify-self-center">
        <button mat-button color="primary" (click)="prevDays()"><mat-icon class="icon-3x">arrow_left</mat-icon></button>
        <button mat-button color="primary" (click)="nextDays()"><mat-icon
            class="icon-3x">arrow_right</mat-icon></button>
      </div> -->
    </div>
  </div>
</div>
