<div class="container py-4">
  <div class="row justify-content-center">
    <h1 class="text-center elegant-animated-title with-shine" style="color:#545454;font-size: 40px;">Centro de Embellecimiento Capilar</h1>
    <div class="col-md-6">
      <mat-form-field appareance="fill" class="w-100">
        <mat-label>Selecciona la sede donde desea ser atendido</mat-label>
        <mat-select (selectionChange)="seleccionarCiudad($event.value)">
          @for (ciudad of ciudades(); track ciudad.id) {
          <mat-option [value]="ciudad">{{ ciudad.ciudad }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <app-card-sedes></app-card-sedes>
  </div>
