<div class="container py-4">
  <div class="row justify-content-center">
    <h4 class="text-center">Copetran</h4>
    <div class="col-md-6">
      <mat-form-field appareance="fill" class="w-100">
        <mat-label>Selecciona la ciudad</mat-label>
        <mat-select [(value)]="ciudadSeleccionada">
          @for (ciudad of ciudades; track ciudad.id) {
          <mat-option [value]="ciudad">{{ ciudad.ciudad }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <app-card-sedes [ciudadSeleccionada]="ciudadSeleccionada"></app-card-sedes>
</div>
