.mdc-button.mat-success,
.mdc-button--raised.mat-success {
  color: #545454;
}

:host {
  button.text-18 {
    font-size: 18px !important;
  }
}

.radio-inputs {
  display: flex;
  flex-direction: column;
  /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  max-width: 100%;
  /* Ensure it doesn't overflow */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs>* {
  margin: 10px 0;
  /* Add vertical spacing between options */
}

.radio-input:checked+.radio-tile {
  border-color: #c0a145;
  box-shadow: 0 5px 10px rgba(61, 54, 54, 0.1);
  color: #545454;
}

.radio-input:checked+.radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #545454;
  border-color: #c0a145;
}

.radio-input:checked+.radio-tile .radio-label {
  color: #545454;
}

.radio-input:focus+.radio-tile {
  border-color: #c0a145;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 0 0 4px #b5c9fc;
}

.radio-input:focus+.radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  /* Width of the pill */
  min-height: 50px;
  /* Height of the pill */
  border-radius: 25px;
  /* Full pill shape */
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
  padding-left: 20%;

  /* Space for the indicator */
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  /* Size of the indicator */
  height: 20px;
  /* Size of the indicator */
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  /* Circle shape for the indicator */
  left: 15px;
  /* Position of the indicator */
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #c0a145;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon {
  margin-left: 10px;
  /* Space between the indicator and icon */
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: left;
  /* Align text to the left */
  font-size: 18px;
  margin-left: 10px;
  /* Space between the icon and label */
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Estilo para snackbar de carga */
.loading-snackbar {
  background-color: #3f51b5;
  color: white;
}

/* Estilo para snackbar de éxito */
.success-snackbar {
  background-color: #545454;
  color: white;
}

/* Estilo para snackbar de error */
.error-snackbar {
  background-color: #f44336;
  color: white;
}

/* Hacer que el botón de cierre sea más visible en snackbars oscuros */
.mat-simple-snackbar-action {
  color: white;
}
