/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
@use '@angular/material' as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html{

  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: -2,
    )
  );
}
=======

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> 3d1a87088fb1b50ddd9e00b087886b6db9e19f9e
