<app-header></app-header>
<div class="container mb-4 mt-md-5 mt-5">
  <div class="row justify-content-center mt-md-4">
    <div class="col-md-4" style="padding-left: 4rem;padding-right: 4rem;">
      <a href="#" class="btn w-100 rounded-0 border border-3 border-sos mb-2">PROMOCIONES VIGENTES </a>
      <a [routerLink]="['/categorias']" [state]="{ sede: sede()[0] }"  class="btn w-100 rounded-0 border border-3 border-sos my-2">AGENDA ON-LINE</a>
      <a href="#" class="btn w-100 rounded-0 border border-3 border-sos my-2">AGENDA CON UNA ASESORA</a>
      <a href="#" class="btn w-100 rounded-0 border border-3 border-sos my-2">TIENDA ON-LINE</a>
      <a href="#" class="btn w-100 rounded-0 border border-3 border-sos my-2">COMPRA CON UNA ASESORA</a>
      <a href="#" class="btn w-100 rounded-0 border border-3 border-sos my-2">CAPACITACIONES</a>
    </div>
  </div>

  <!-- <div class="bottom-0 position-relative">
  <div class="position-fixed bottom-0">
    <p class="text-muted">
      <strong>S.O.S CENTRO CAPILAR</strong>
      <br>
      <svg width="23" height="23" viewBox="0 0 32 32">
        <path fill="currentColor"
          d="M16 18a5 5 0 1 1 5-5a5.006 5.006 0 0 1-5 5m0-8a3 3 0 1 0 3 3a3.003 3.003 0 0 0-3-3" />
        <path fill="currentColor"
          d="m16 30l-8.436-9.949a35 35 0 0 1-.348-.451A10.9 10.9 0 0 1 5 13a11 11 0 0 1 22 0a10.9 10.9 0 0 1-2.215 6.597l-.001.003s-.3.394-.345.447ZM8.813 18.395s.233.308.286.374L16 26.908l6.91-8.15c.044-.055.278-.365.279-.366A8.9 8.9 0 0 0 25 13a9 9 0 1 0-18 0a8.9 8.9 0 0 0 1.813 5.395" />
      </svg>
      Carrera 35 # 48 - 55 Cabecera
      <br>
      Bucaramanga
      <br>
      <a href="https://www.instagram.com/sos_centrocapilar_hd/?hl=es" target="_blank">&#64;sos_centrocapilar_hd'</a>
    </p>
  </div>
</div>
<img src="/arbol_sos.png" alt="arbol" class="" style="width: 15rem;"> -->


  <div class="row mt-3 mt-md-5 mt-lg-5 justify-content-center justify-md-content-left">
    <div class="col-12 col-md-4 col-lg-4 text-md-center text-start d-md-block d-flex px-0 justify-content-end">
      <p class="padding text-footer ps-4" style="letter-spacing: 1px;font-size: 12px;">
        &nbsp;<b>SEDE PRINCIPAL</b>
        <br>
        <svg width="18" height="18" viewBox="0 0 32 32">
          <path fill="currentColor"
            d="M16 18a5 5 0 1 1 5-5a5.006 5.006 0 0 1-5 5m0-8a3 3 0 1 0 3 3a3.003 3.003 0 0 0-3-3" />
          <path fill="currentColor"
            d="m16 30l-8.436-9.949a35 35 0 0 1-.348-.451A10.9 10.9 0 0 1 5 13a11 11 0 0 1 22 0a10.9 10.9 0 0 1-2.215 6.597l-.001.003s-.3.394-.345.447ZM8.813 18.395s.233.308.286.374L16 26.908l6.91-8.15c.044-.055.278-.365.279-.366A8.9 8.9 0 0 0 25 13a9 9 0 1 0-18 0a8.9 8.9 0 0 0 1.813 5.395" />
        </svg>
        &nbsp;Carrera 35 # 48 - 55 Cabecera
        <br>
        &nbsp;Bucaramanga, Colombia
        <br>
        <a href="https://www.instagram.com/sos_centrocapilar_hd/?hl=es" target="_blank">&nbsp;&#64;sos_centrocapilar_hd</a>
      </p>
      <img src="/arbol_sos.png" alt="arbol" class="d-md-none d-block" style="width: 10rem;">
    </div>
  </div>
</div>
<!-- <div class="decorative-tree" style="overflow-x: hidden;">
  <img src="/arbol_sos.png" alt="Tree" class="tree-image" style="overflow-x: hidden;">
</div> -->
