
@if(status == 'PAID') {
<div class="container border rounded mt-5">
  <div class="row p-3">
    <div class="col-md-12 text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" class="text-success mb-3"
        viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE -->
        <path fill="currentColor"
          d="m19.5 1l-1.09 2.41L16 4.5l2.41 1.09L19.5 8l1.1-2.41L23 4.5l-2.4-1.09zM12 2C6.5 2 2 6.5 2 12v10h20V12c0-1.47-.33-2.87-.9-4.13l-1.24 2.72c.08.46.14.91.14 1.41c0 4.43-3.57 8-8 8s-8-3.57-8-8v-.13a10 10 0 0 0 5.74-5.56A10 10 0 0 0 17.5 10a10 10 0 0 0 1.33-.09l-1.48-3.26L12.6 4.5l3.53-1.6C14.87 2.33 13.47 2 12 2m-3 9.75A1.25 1.25 0 0 0 7.75 13A1.25 1.25 0 0 0 9 14.25A1.25 1.25 0 0 0 10.25 13A1.25 1.25 0 0 0 9 11.75m6 0A1.25 1.25 0 0 0 13.75 13A1.25 1.25 0 0 0 15 14.25A1.25 1.25 0 0 0 16.25 13A1.25 1.25 0 0 0 15 11.75" />
      </svg>
      <h4>{{ mensaje }}</h4>
    </div>
    <hr>
    <h4 class="text-center mt-3 mb-5">Datos registrados</h4>
    <div class="col-md-4">
      <p><strong>Documento:</strong> {{ data.documento }}</p>
    </div>
    <div class="col-md-4">
      <p><strong>Cliente:</strong> {{ data.cliente }}</p>
    </div>
    <div class="col-md-4">
      <p><strong>Fecha:</strong> {{ data.agenda.fecha }} <strong>Hora: </strong> {{ data.agenda.hora }}</p>
    </div>
    <div class="col-md-4">
      <p><strong>Estado:</strong> {{ data.agenda.estado }}</p>
    </div>
    <div class="col-md-4">
      <p><strong>Id de la transacción:</strong> {{ data.transaction_id }}</p>
    </div>
  </div>

  @if ((avisoFinal()?.parrafos?.length ?? 0) > 0) {
  <div class="row px-3 pb-2">
    <div class="col-12">
      <div class="aviso-post-pago">
        <div class="aviso-post-pago__header">
          <span class="aviso-post-pago__icono">📋</span>
          <h6 class="aviso-post-pago__titulo">Recuerda estas recomendaciones para tu cita</h6>
        </div>
        <ul class="aviso-post-pago__lista">
          @for (parrafo of avisoFinal()!.parrafos; track $index) {
            <li>{{ parrafo }}</li>
          }
        </ul>
      </div>
    </div>
  </div>
  }

  <div class="row text-center mb-3">
    <h4>Gracias por confiar en nosotros, te esperamos!!</h4>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <a href="/" class="btn btn-success">Volver</a>
    </div>
  </div>
</div>
}
@else {
<div class="container border rounded mt-5">
  <div class="row p-3">
    <div class="col-md-12 text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" class="text-danger"
        viewBox="0 0 48 48"><!-- Icon from IconPark Solid by ByteDance - https://github.com/bytedance/IconPark/blob/master/LICENSE -->
        <path fill="currentColor" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="4"
          d="m6 11l5-5l13 13L37 6l5 5l-13 13l13 13l-5 5l-13-13l-13 13l-5-5l13-13z" clip-rule="evenodd" />
      </svg>

      <h4 class="my-3">{{ mensaje }}</h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <a href="/" class="btn btn-success">Volver</a>
    </div>
  </div>
</div>
}
